
body {
    text-align: center;
    font-family: 'Happy Monkey', cursive; 
    background: linear-gradient( #a2d2ff, #EFB0C9);
    color: #ffffff;
}
     
h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black; }
    
#bff-img { 
    width: 200px;
    border-radius: 9%;
    border: 5px solid #EFB0C9; 
}

#bday-age{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}
#bday-date {background: #EFB0C9;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-img { 
            margin: 0px auto;
            width: 400px;
            height: 400px;
            border : 5px solid white; 
            border-radius: 10px ;
            background-image: url(gift-cover.jpg);
            background-size: cover;
}
 #gif-img-happy:hover{ 
    background-image:url(hover.mp4) }

    
.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}


.gift-hint {
    margin-top: 0;}

    #gif-img-hot:hover{ 
        background-image:url(hot.MP4); }

        #gif-img-genius:hover{ 
            background-image:url(genius.MP4); }

            #gif-img-badass:hover{ 
                background-image:url(badass.MP4); }
    
                #gif-img-cheers:hover{ 
                    background-image:url(cheers.MP4); 
                height: 200px  ;}

                #gif-img-cheers { 
                    
                    height: 250px;}

                    #footer {
                        font-style:italic;
                        margin: 40px auto 20px;
                    }
        
                    #gif-img-daniel:hover{ 
                        background-image:url(daniel.jpg); }
        #daniel { 
                   margin: 0px auto 40px;
        }












